#Exit_Image
{
	horizontal-align:right;
	vertical-align:top;
}

.MainPanel
{
    width: 100%;
    height: 100%;
    flow-children: none;
    z-index: 1;
}
.TopIcon
{
	vertical-align:top;
	horizontal-align:center;
	border-radius: 25px;
	opacity:1;
}
.RightIcon
{
	vertical-align:center;
	horizontal-align:right;
	border-radius: 25px;
	opacity:1;
}
.LeftIcon
{
	vertical-align:center;
	horizontal-align:left;
	border-radius: 25px;
	opacity:1;
}
.BottomIcon
{
	vertical-align:bottom;
	horizontal-align:center;
	border-radius: 25px;
	opacity:1;
}
.TopIconSilence
{
	vertical-align:top;
	horizontal-align:center;
	border-radius: 25px;
	opacity:0;
	width:12%;
	height:12%;
}
.RightIconSilence
{
	vertical-align:center;
	horizontal-align:right;
	border-radius: 25px;
	margin-right:-2.5%;
	opacity:0;
	width:12%;
	height:12%;
}
.LeftIconSilence
{
	vertical-align:center;
	horizontal-align:left;
	border-radius: 25px;
	margin-left:-2.5%;
	opacity:0;
	width:12%;
	height:12%;
}
.BottomIconSilence
{
	vertical-align:bottom;
	horizontal-align:center;
	border-radius: 25px;
	opacity:0;
	width:12%;
	height:12%;
}

.TopPanelBox
{
  
  width: 100%;
  height: 30%;
  margin-top: 0%;
  margin-left: 0%;
  border-left: 250% solid transparent;
  border-right: 250% solid transparent;
  border-top: 25% solid green;
  opacity: 0.05;
}

.LeftPanelBox
{
  width: 28%;
  height: 100%;
  margin-top: 0%;
  margin-left: 0%;
  border-bottom: 95% solid transparent;
  border-top: 95% solid transparent;
  border-left: 80% solid blue;
  opacity: 0.05;
  vertical-align: top;
  horizontal-align:left;
}
.RightPanelBox
{
  width: 28%;
  height: 100%;
  margin-top: 0%;
  margin-right: 0%;
  border-bottom: 95% solid transparent;
  border-top: 95% solid transparent;
  border-right: 80% solid yellow;
  opacity: 0.05;
  vertical-align: top;
  horizontal-align:right;
}

.BottomPanelBox
{
  
  width: 100%;
  height: 30%;
  margin-bottom: 0%;
  margin-left: 0%;
  border-left: 250% solid transparent;
  border-right: 250% solid transparent;
  border-bottom: 25% solid red;
  opacity: 0.05;
  vertical-align: bottom;
  horizontal-align:left;
}

.TopPanelBox:Hover
{
  
  width: 100%;
  height: 30%;
  margin-top: 0%;
  margin-left: 0%;
  border-left: 250% solid transparent;
  border-right: 250% solid transparent;
  border-top: 25% solid green;
  opacity: 0.15;
}
.LeftPanelBox:Hover
{
  width: 28%;
  height: 100%;
  margin-top: 0%;
  margin-left: 0%;
  border-bottom: 95% solid transparent;
  border-top: 95% solid transparent;
  border-left: 80% solid blue;
  opacity: 0.15;
  vertical-align: top;
  horizontal-align:left;
}
.RightPanelBox:Hover
{
  width: 28%;
  height: 100%;
  margin-top: 0%;
  margin-right: 0%;
  border-bottom: 95% solid transparent;
  border-top: 95% solid transparent;
  border-right: 80% solid yellow;
  opacity: 0.15;
  vertical-align: top;
  horizontal-align:right;
}
.BottomPanelBox:Hover
{
  
  width: 100%;
  height: 30%;
  margin-bottom: 0%;
  margin-left: 0%;
  border-left: 250% solid transparent;
  border-right: 250% solid transparent;
  border-bottom: 25% solid red;
  opacity: 0.15;
  vertical-align: bottom;
  horizontal-align:left;
}

