.MainPanel
{
    width: 100%;
    height: 100%;
    flow-children: none;
    z-index: 1;
}

.TopPanelBox
{
  
  width: 100%;
  height: 30%;
  margin-top: 0%;
  margin-left: 0%;
  border-left: 250% solid transparent;
  border-right: 250% solid transparent;
  border-top: 25% solid green;
  opacity: 0.05;
}
.LeftPanelBox
{
  width: 28%;
  height: 100%;
  margin-top: 0%;
  margin-left: 0%;
  border-bottom: 95% solid transparent;
  border-top: 95% solid transparent;
  border-left: 80% solid blue;
  opacity: 0.05;
  vertical-align: top;
  horizontal-align:left;
}
.RightPanelBox
{
  width: 28%;
  height: 100%;
  margin-top: 0%;
  margin-right: 0%;
  border-bottom: 95% solid transparent;
  border-top: 95% solid transparent;
  border-right: 80% solid yellow;
  opacity: 0.05;
  vertical-align: top;
  horizontal-align:right;
}
.BottomPanelBox
{
  
  width: 100%;
  height: 30%;
  margin-bottom: 0%;
  margin-left: 0%;
  border-left: 250% solid transparent;
  border-right: 250% solid transparent;
  border-bottom: 25% solid red;
  opacity: 0.05;
  vertical-align: bottom;
  horizontal-align:left;
}
