.HealthPanel
{
    width: 100%;
    height: 20%;
    flow-children: right;
    margin-top:80%;
}

.Player1_box
{
  width: 20%;
  height: 100%;
  margin-top: 1%;
  margin-left: 2.5%;
}
#Player1_Lifes
{
  font-family: "Carter One";
  font-size: 50;
  border:1%;
  border-color: black;
  color: white;
  margin-top:72%;
  margin-left: 0%;
}
#Player1_Health
{
  font-family: "Carter One";
  font-size: 120;
  border:1%;
  border-color: black;
  color: white;
  margin-bottom:32.5%;
  margin-left: 30%;
}
.Player_Avatar
{

  margin-bottom:32.5%;
  margin-left: 0%;
  width: 110px;
  height: 200px;
  border-radius:5%;
  opacity: 1;
  z-index:2;
}



.Player2_box
{
  width: 20%;
  height: 100%;
  margin-top: 1%;
  margin-left: 2.5%;
}
#Player2_Lifes
{
  font-family: "Carter One";
  font-size: 50;
  border:1%;
  border-color: black;
  color: white;
  margin-top:72%;
  margin-left: 0%;
}

#Player2_Health
{
  font-family: "Carter One";
  font-size: 120;
  border:1%;
  border-color: black;
  color: white;
  margin-bottom:32.5%;
  margin-left: 30%;
}

.Player3_box
{
  width: 20%;
  height: 100%;
  margin-top: 1%;
  margin-left: 10%;	
}
#Player3_Lifes
{
  font-family: "Carter One";
  font-size: 40;
  border:1%;
  border-color: black;
  color: white;
  margin-top:70%;
  margin-left: 0%;
}

#Player3_Health
{
  font-family: "Carter One";
  font-size: 120;
  border:1%;
  border-color: black;
  color: white;
  margin-bottom:32.5%;
  margin-left: 30%;
}

.Player4_box
{
  width: 20%;
  height: 100%;
  margin-top: 1%;
  margin-left: 2.5%;
}
#Player4_Lifes
{
  font-family: "Carter One";
  font-size: 40;
  border:1%;
  border-color: black;
  color: white;
  margin-top:70%;
  margin-left: 0%;
}
#Player4_Health
{
  font-family: "Carter One";
  font-size: 120;
  border:1%;
  border-color: black;
  color: white;
  margin-bottom:32.5%;
  margin-left: 30%;
}

#CooldownOverlay
{
	height: 100%;
	width: 100%;
	background-color: #000000DD;
	visibility: visible;

	transition-property: clip;
	transition-duration: 0.06s;
	transition-timing-function: linear;
}
.ChargeBar
{
	height: 25px;
	width: 0px;
	opacity: 1;
	background-color: gradient( linear, 0% 30%, 60% 90%, from( red ), to( darkred ) );
	margin-top:60%;
	margin-left:30%;
}
