
.Ally_Selection
{
	width:100%;
	height:100%;
	
	z-index: 3;

}
.Ally_Selection_Main
{
  width:100%;
  height: 100%;
  margin-right: 0%;
  margin-top: 0%; 
  flow-children: none;
  opacity: 1;
  visibility: visible;
  background-color: black;
}
#Ally_Selection_X
{
  width:100%;
  height: 100%;
}
.Ally_Selection_HeaderBox
{
  horizontal-align: center;
  background-color: black;
  border-radius: 25px;
  margin-top: 10%;
}
.Ally_Selection_Header
{
	horizontal-align: center;
	background-color: black;
	width: 70%;
	height: 15%;
	margin-top: 5%;
}
.Ally_Selection_Header Label,
{
	font-family: Dejavu Sans;
	text-shadow: 2px 2px 0px 3.0 dark-red;  
	font-weight: bold;
	font-size: 100px;
	color:#800000;
	opacity: 1;
	horizontal-align: center;
	margin-top: 3%;
}	

.Ally_Selection_Playerboxes
{
  margin-left: 0%;
  margin-top: 25%;
  margin-bottom: 5%;
  horizontal-align:center;
  vertical-align: top;
  background-color: black;
  opacity: 1;
  border-radius: 25px;
  flow-children: none;
  width: 1000px;
  height: 1000px; 
}
.AllySelectPanelPlayer1 
{
	background-color: red;
	width: 30%;
	height: 30%;
	margin-left: 10%;
	margin-top: 25%;
	border-radius: 3%;
	opacity: 1;
}
.AllySelectPanelPlayer_Body
{
	horizontal-align: center;
	vertical-align: bottom;
	background-color: 	#E6E6FA;
	width: 96%;
	height: 80%;
	margin-bottom: 2%;
	border-radius: 1% 1% 3% 3%;

}
.AllySelectPanelPlayer2  
{
  background-color: blue;
  margin-top: 65%;
  margin-left: 10%;
  width: 30%;
  height: 30%;
  border-radius: 3%;
  opacity: 1;
	
}
.AllySelectPanelPlayer3 
{
  background-color: green;
  margin-top: 25%;
  margin-left: 60%;
  width: 30%;
  height: 30%;
  border-radius: 3%;
  opacity: 1;

}
.AllySelectPanelPlayer4  
{
  background-color: yellow;
  margin-top: 65%;
  margin-left: 60%;
  width: 30%;
  height: 30%;
  border-radius: 3%;
  opacity: 1;
}


.SteamName  
{
  width:100%;
  margin-top: 2%;
  horizontal-align:center;	
 
}
.SteamName Label,
{
   font-size: 40px;
   font-weight:bold;
   font-family: Dejavu Sans;
   horizontal-align:center;
   color:white;
}
.SteamAvatar  
{
  margin-top: 10%;
  horizontal-align:center;
  width: 120px;
  height: 120px;
  
  
}
.SteamAvatar #AvatarImageProfile
{
  width: 120px;
  height: 120px;
}

.AllyPlayerButton
{
  horizontal-align:center;
  margin-top:75%;
  background-color: black ;
  opacity: 0.75;
  box-shadow: inset #333333b0 0px 0px 8px 12px; 
}
.AllyPlayerButton:Hover
{
  horizontal-align:center;
  margin-top:75%;
  background-color: black ;
  opacity: 1;
  
}

.AllyPlayerButton Label,
{
  margin-left: 5%;
  margin-right:5%;
  font-size: 40px;
  font-weight: semi-bold;
}

